./.idea
.idea
./.idea/
.idea/
./.idea/*
.idea/*
./.pytest_cache
.pytest_cache
./.pytest_cache/*
.pytest_cache/*
./.venv
.venv
./.venv/*
.venv/*
./__pycache__
__pycache__
./__pycache__/*
__pycache__/*
./bin
bin
./bin/*
bin/*
./include
include
./include/*
include/*
./lib
lib
./lib/*
lib/*
./*~
*~
./*.cfg
*.cfg
nppBackup
./nppBackup
nppBackup/*
./nppBackup/*